body
{
  font-size: 10px;
  margin: 0;
  font-family: 'Trebuchet MS', sans-serif;
  color: white;
}

main
{
  background-color: white;
  margin: 0px;
  text-align: left;
  line-height: 1.25;
  height: 550px;
  font-size: 15px;
}

.backgroundPageBlock
{
  height: 550px;
  text-align: left;
  line-height: 1.25;
  font-size: 15px;
  background-image: url("../img/Background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  background-size: cover;
}

#secondBlock
{
  background-color: white;
  margin: 0px;
  text-align: left;
  line-height: 1.25;
  height: 800px;
  font-size: 15px;
}

nav
{
  overflow: hidden;
  position: fixed;
  background-color: orange;
  height: 70px;
  font-size: 16px;
  width: 100%;
}

nav a 
{
  text-decoration: none;
  color: white;
}

footer
{
  background-color: black;
  font-weight: bold;
  color: white;
  font-size: 15px;
  text-align: center;
  padding-top: 20px;
  height: 170px;
  width: 100%;
}

.skillsBlock
{
  float: left;
  font-size: 18px;
  width: 33.3334%;
  height: 90%;
  text-align: center;
  color: black;
  background-color: white;
}

.skillsBlock p 
{
  font-weight: bold;
}

.skillsSquare
{

  min-height: 250px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.skillsSquare p img 
{
  width: 30px;
  height: 30px;
}

.imgWrapper img
{
  height: 30px;
}

.textWrapper img
{
  padding-bottom: 6px; 
  padding-top: 6px;
}

#git
{
  width: 110px; 
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.git-icons
{
   width: 50px;
   height: 50px;
   display: inline-block;
}

#github img 
{
  width:50px;   

}

.container 
{
  max-width: 1200px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.backgroundPage
{
  padding-top: 100px;
  text-align: center;
}

.backgroundPageHeading
{
  font-size: 62px;
 
}

.backgroundPageP
{
  font-size: 28px;
  margin-top: 0;
}

.boldStyle
{
  font-weight: bold;
}

#navigation
{
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-top: 20px;
}

#handler
{
  margin-left: 600px;
}

#navPlaceholder
{
  width: 100%;
  height: 70px;
}

.navButton
{
  border-radius: 5px;
  height: 20px;
  width: 120px;
  display: inline-block;
  border: 1px solid orange;
  margin-left: 10px;
  padding: 5px 0px 5px 0px;
  text-align: center;
  transition: border-color 300ms ease, background-color 300ms ease;
}

.navButton:hover
{
  background-color: black;
}

.backgroundPageButton
{
  border-radius: 5px;
  width: 120px;
  display: inline-block;
  border: 2px solid white;
  padding: 8px 25px;
  text-decoration: none;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  transition: border-color 300ms ease, background-color 300ms ease;
}

.backgroundPageButton:hover
{
  background-color: white;
  color: black;
}

@media only screen and (max-width: 700px)
{
  #secondBlock
  {
    height: 1025px;
  }

  .backgroundPageBlock
  {
    line-height: 1;
  }

  #handler
  {
    margin-left: 0px;
  }
}
